<nav class="header-container">
    <div class="wrapper">
        <img class="csr-ptr logo" src="../../../../assets/logo.svg" alt="logo">
        <div class="csr-ptr fw700">Health and wellbeing appointments</div>
        <div class="csr-ptr fw700">Fitness Classes</div>
        <img class="csr-ptr" src="../../../../assets/search-icon.png" alt="search">
        <img class="csr-ptr" src="../../../../assets/profile-icon.png" alt="search">
        <button class="csr-ptr">List with us</button>
    </div>

</nav>
