@import "../../../../styles/base.scss";

.header-container {
    position: fixed;
    height: 80px;
    width: 100%;
    padding: 25px 100px;
    box-shadow: 0px 3px 6px #00000029;
    color: $white1;
    background-color: $darkgreen;
    // opacity: 2;

    .wrapper {
        height: 100%;

        img {
            height: 100%;

            & .logo {
                padding: 4px 0;
            }
        }

        .hamburger {
            display: none;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .header-container {
        padding: 25px 45px;
        .wrapper {
            justify-content: space-between;

            & :not(:first-child) { display: none;}

            .hamburger {
                display: flex;
            }
        }

        &.responsive {
            height: auto;

            .wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 15px;
                
                .hamburger {
                    position: absolute;
                    right: 21px;
                    top: 21px;
                }
    
                .header-list {
                    display: flex;
                    height: 30px;
                    justify-content: flex-start;
                    align-items: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .header-container {
        padding: 25px 20px;
    }
}