<div class="home-container">
    <section class="banner">
        <div class="heading">
            <h1 class="fs72 ff-recoleta fw400">
                Seeking Wellbeing?
            </h1>
            <h1 class="fs72 ff-recoleta fw400">
                You're in the right place.
            </h1>
        </div>

        <div class="tabs-container">
            <div class="tabs">
                <span class="brdr-btm csr-ptr">APPOINTMENTS</span>
                <span class="csr-ptr">CLASSES</span>
                <span class="csr-ptr">ONLINE</span>
            </div>

            <div class="search-container">
                <input type="text" name="" placeholder="Search for a service, provider or symptom" />
                <input type="text" name="" placeholder="Select a location" />
                <input type="text" name="" placeholder="When do you want to go?" />
                <button class="csr-ptr">Discover</button>
            </div>
        </div>
    </section>
    <section class="services dsp-flx flx-dir-col jstfy-cntr align-cntr gp50">
        <div class="dsp-flx flx-dir-col align-cntr gp20">
            <h1 class="fs36 fw500 ff-recoleta">Discover wellbeing services near you</h1>
            <h5 class="fs16 dsp-flx gp5">
                <span>Displaying nearby wellbeing for</span>
                <span class="lightgreen">Hawthorn</span>
                <img class="csr-ptr" src="../../../../assets/down-arrow.png" alt="down-icon">
            </h5>
        </div>

        <div class="cards-container">
            <app-service-card [data]="service" *ngFor="let service of servicesList"></app-service-card>
        </div>
    </section>

    <section class="dsp-flx flx-dir-col jstfy-cntr align-cntr p50">
        <button class="csr-ptr">FIND MORE WELLBEING NEARBY</button>
    </section>

</div>
