// Theme Pallete

$lightgreen: #00BD71;
$darkgreen: #095D59;

$white1: #FFFFFF;
$white2: #F5F5F5;
$white3: #FFFFFFCC;

$grey1: #00000026;
$grey2: #03363D40;
$grey3: #00000029;

$pink: #FD896B;

$golden: #FFC400;
