<div class="service-card dsp-flx flx-dir-col jstfy-spcbw">
    <div class="dsp-flx jstfy-spcbw">
        <div class="dsp-flx gp15">
            <img src="../../../../assets/{{serviceData.img}}.png" alt="Service Image">
            <div class="dsp-flx flx-dir-col jstfy-strt align-strt">
                <span class="fw700 fs10">SUNBEAR SHIATSU</span>
                <span class="fs10 fw100">HAWTHORN</span>
                <div class="fs10 fw700 golden dsp-flx jstfy-spcbw align-strt gp5">
                    <span>4.8</span>
                    <div class="dsp-flx jstfy-cntr align-cntr gp1">
                        <img class="star-icon" src="../../../../assets/star.png" alt="star">
                        <img class="star-icon" src="../../../../assets/star.png" alt="star">
                        <img class="star-icon" src="../../../../assets/star.png" alt="star">
                        <img class="star-icon" src="../../../../assets/star.png" alt="star">
                        <img class="star-icon" src="../../../../assets/star.png" alt="star">
                    </div>
                </div>
            </div>
        </div>
        <img class="favourite-icon csr-ptr" src="../../../../assets/favourite-icon.png" alt="favourite">
    </div>

    <div class="brdr-bottom dsp-flx jstfy-spcbw">
        <span class="fw800">Naturopathic Consultation</span>
        <span class="fw800">$50 <span class="fw100">/ hour</span></span>
    </div>

    <div class="dsp-flx jstfy-spcbw">
        <span class="fw500">Today, June 28</span>
        <span class="lightgreen fw500">Show all times</span>
    </div>

    <div class="dsp-flx jstfy-spcbw">
        <span class="time-card fw800">11:00 AM</span>
        <span class="time-card fw800">11:15 AM</span>
        <span class="time-card fw800">+29 more</span>
    </div>

</div>